/20nodes_NewB.npz
/30nodes_NewB.npz
/40nodes_NewB.npz
/50nodes_NewB.npz
/60nodes_NewB.npz
/Cluster
/cluster.ipynb
/gen_nodesGraph.ipynb
/gen_nodesInfo.ipynb
/greedy(1).ipynb
/greedy+FR.ipynb
/greedy.ipynb
/main.ipynb
/new_cluster.ipynb
/new_greedy.ipynb
/new_nodesgraph.ipynb
/Result
/test.ipynb
/__pycache__